*{
    box-sizing: border-box;
}
body {
	background-image: url("../images/starwars.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-family: 'Gentium Basic', serif;

}

h1, h2 {
	color: black;
}
h1{
  text-align: right;
}

.characters,.defenders{
    float: left;
    text-align: center;
    border-style: solid;
    border-color: green;
    border-width: 1.5px;
    background-color: white;
    color:black;
}
.defenders{
    background-color: brown;
}
#defender{
    float: left;
    text-align: center;
    border-style: solid;
    border-color: green;
    border-width: 1.5px;
    color:black;
    background-color:black;
}

.characters-body img {
	height: 120px;
	width: 150px;
}

#status {
	font-size: 25px;
}

/*@media screen and (max-width: 980px) {
    body {
      background-color: #333;
    }
  
    .container {
     
      width: 700px;
     
    }
  }
  @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .container {
     
      width: 600px;
     
    }
    #main-container{
      
    }
  }*/

  @media screen and (max-width: 640px) {
    body {
        background-color: #333;
      }
    
      .container {
       
        width: 500px;
       
      }
      h1{
        text-align: center;
      }
      .characters-body img{
        width:100px;
        height:100px;
        
      }
    }