
body {
	background-image: url("../images/starwars.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;

}

h1, h2 {
	color: white;
}

.characters,.defender {
    float: left;
    text-align: center;
    border-style: solid;
    border-color: green;
    border-width: 1.5px;
    background-color: white;
    color:black;
}

.characters-body img {
	height: 100px;
	width: 150px;
}
.characters-heading{

}

#status {
	color: white;
	font-size: 20px;
}
